.centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  &-menu {
    background-color: #0081ff;
    height: 4rem;
    min-width: 100%;
    font-weight: 500;
    margin: 0 !important;
    color: white;
    box-shadow: inset 0 -2rem 1rem rgba(0, 0, 0, 0.178);

    &__items {
      height: 100%;

      .header-menu__name {
        @extend .centred;
        justify-content: flex-start;
        font-size: 24px;
        margin: 0;
        padding: 0;
      }

      .header-menu__buttons {
    
        .item-container-link {
            padding: 0;
            @extend .centred;
            justify-content: flex-end;

          .header-menu__link {
            color: white;

          }
        }
        .item-container-button{
            padding: 0;
            @extend .centred;
            justify-content: flex-end;
            .header-menu__button {
                height: 2rem;
                width: 12rem;
                background-color: #424242;
                color: white;
                border: none;
                border-radius: 0.4rem;
              }
    
              .header-menu__button:hover{
                  transform: scale(1.05);
                  transition: all 0.5s ease;
              }
        }
      }
    }
  }

  &-titles {
    background-color: #414141;
    height: 4rem;
    width: 100vw;
    box-shadow: inset 0 2rem 1rem -0.4rem rgba(0, 0, 0, 0.37);
    @extend .centred;
    justify-content: flex-start;

    &__items{
        
        .header-titles__titles{

            color: white;
            font-size: 24px;
        }
        
    }
  }
}
