@import './Utils/Media.scss';


html,
body {
    
    @include respond(large) {
        font-size: 16px !important;
    }
    @include respond(medium) {
        font-size: 14px !important;
    }
    @include respond(small) {
        font-size: 12px !important;
    }
}

.content-container{
    margin: 0 5rem;
}

.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}