.footer{
    .footer__content{
        margin: auto;
        .footer__links{
            display: flex;
            height: 2rem;

        }

        .footer__images{
            .icon{
                width: 100px;
                height: 100px;
            }
        }
    }
}