@mixin respond($breakpoint) {
    @if $breakpoint == large {
      @media (min-width: 992px) {
        @content;
      }
    }
    @if $breakpoint == medium {
      @media (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    }
    @if $breakpoint == small {
      @media (max-width: 767px) {
        @content;
      }
    }
  }